<div id="page">
	
  <h1 class="emphnext">{{ page.title }}</h1>
  <ul class="tag_box inline">
  {% assign tags_list = page.tags %}
  {% include JB/tags_list %}
  </ul>

  {{ content }}

<!-- JiaThis Button BEGIN -->
<div class="jiathis_style_24x24">
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_weixin"></a>
	<a class="jiathis_button_renren"></a>
	<a class="jiathis_button_fb"></a>
	<a class="jiathis_button_twitter"></a>
	<a class="jiathis_button_googleplus"></a>
	<a href="http://www.jiathis.com/share?uid=1919857" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">更多</a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1919857" charset="utf-8"></script>
<!-- JiaThis Button END -->

  <address class="signature">
    <a class="author" href="{{ HOME_PATH }}">{{ site.author.name }}</a> 
    <span class="date">{{ page.date | date_to_long_string }}</span>
    <span class="location">{{ page.location }}</span>
  </address>
  
  <div class="prev-next">
  {% if page.next %}
    <a href="{{ page.next.url }}" class="next" title="{{ page.next.title }}">Next Post &rarr;</a>
  {% endif %}
  {% if page.previous %}
    <a href="{{ page.previous.url }}" class="prev" title="{{ page.previous.title }}">&larr; Earlier Post</a>
  {% endif %}
  </div>

<!-- UY BEGIN -->
<div id="uyan_frame" style="padding:10px"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1919857"></script>
<!-- UY END -->
  
</div><!-- End Page -->

{% include JB/comments %}
